.save:hover{
    background-color:skyblue;
    color: white;
}
.delete:hover{
    background-color:rgb(11, 11, 11);
    color: rgb(240, 240, 240);
}
.delbtn:hover{
    background-color:rgb(230, 111, 111);
    color: rgb(0, 0, 0);
}